fastapi==0.104.1
uvicorn==0.24.0
aiomysql==0.2.0
redis==6.4.0
motor==3.7.1
kafka-python==2.0.2
aiokafka==0.8.0
kazoo==2.9.0
python-multipart==0.0.6
python-jose==3.3.0
pydantic_settings==2.10.1
passlib==1.7.4
bcrypt==4.0.1
python-dotenv==1.0.0
email-validator==2.3.0
pydantic~=2.11.7
starlette>=0.27.0,<0.28.0
pydantic-settings~=2.10.1
aiohttp~=3.12.15
beautifulsoup4~=4.13.5
requests~=2.32.5
googletrans~=4.0.0rc1
aiofiles==22.1.0


